{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-declaration-block-no-ignored-properties"
  ],
  "rules": {
    "indentation": 2,
    "no-descending-specificity": null,
    "declaration-block-trailing-semicolon": null,
    "declaration-empty-line-before": null,
    "plugin/declaration-block-no-ignored-properties": true
  }
}
